[submodule "gcp-gke/modules/terraform-google-kubernetes-engine"]
	path = gcp-gke/modules/terraform-google-kubernetes-engine
	url = https://github.com/terraform-google-modules/terraform-google-kubernetes-engine.git
[submodule "gcp-gke/modules/terraform-google-network"]
	path = gcp-gke/modules/terraform-google-network
	url = https://github.com/terraform-google-modules/terraform-google-network.git
