name: "Semantic Pull Request"
permissions: read-all

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    name: "Semantic Pull Request"
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5.0.2
        name: Semantic Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
