# yamllint disable rule:line-length
# Use template from https://github.com/honestbank/workflows/tree/main/examples/repository-workflows

# Use this workflow for public repos, since public repos cannot access our internal
# workflows repo.
---
name: semantic-pull-request
permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  semantic-pull-request:
    name: semantic-pull-request
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v4
        name: Semantic Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
